<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.virtualization.ferrochrome" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.KILL_ALL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.virtualization.vmlauncher.permission.USE_VM_LAUNCHER" />

    <queries>
        <intent>
            <action android:name="android.virtualization.VM_LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.virtualization.FERROCHROME_DOWNLOADER" />
        </intent>
    </queries>
    <application
        android:label="Ferrochrome">
        <activity android:name=".FerrochromeActivity"
                  android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation|uiMode"
                  android:screenOrientation="landscape"
                  android:resizeableActivity="false"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OpenUrlActivity"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:launchMode="singleTask"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
